<ion-fab vertical="bottom" horizontal="end" slot="fixed">
  <ion-fab-button color="primary">
    <ion-icon name="book-outline"></ion-icon>
  </ion-fab-button>
  <ion-fab-list side="top">
    <ion-fab-button color="light" (click)="cambiarRuta('animales')">
      <img src="assets/img/jirafa.png" width="50" height="50" alt="English">
    </ion-fab-button>
    <ion-fab-button color="light" (click)="cambiarRuta('numeros')">
      <img src="assets/img/dos.png" width="50" height="50" alt="English">
    </ion-fab-button>
    <ion-fab-button color="light" (click)="cambiarRuta('colores')">
      <img src="assets/img/paleta.png" width="50" height="50" alt="English">
    </ion-fab-button>
  </ion-fab-list>
</ion-fab>

<ion-fab vertical="bottom" horizontal="start" slot="fixed">
  <ion-fab-button color="secondary">
    <ion-icon name="language-sharp"></ion-icon>
  </ion-fab-button>
  <ion-fab-list side="top">
    <ion-fab-button color="light" (click)="cambiarIdioma('en')">
      <img src="assets/img/eeuu.png" width="50" height="50" alt="English">
    </ion-fab-button>
    <ion-fab-button color="light" (click)="cambiarIdioma('pt')">
      <img src="assets/img/portugal.png" width="50" height="50" alt="Portugues">
    </ion-fab-button>
    <ion-fab-button color="light" (click)="cambiarIdioma('es')">
      <img src="assets/img/espaniol.png" width="50" height="50" alt="Español">
    </ion-fab-button>
  </ion-fab-list>
</ion-fab>
