<ion-content color="primary" [fullscreen]="true">
  <div class="header" color="primary">
    <div class="header__title">
      <ion-text class="header__text">Tabla Didáctica</ion-text>
    </div>
  </div>

  <ion-card class="login">
    <div class="login__img">
      <img [src]="'/assets/icon.png'" width="150" height="150"/>
    </div>

    <ion-card-content>
      <form (ngSubmit)="onLogin()">
        <ion-item>
          <ion-label position="floating">Correo</ion-label>
          <ion-input type="email" [(ngModel)]="email" name="email" id="email"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="floating">Clave</ion-label>
          <ion-input type="password" [(ngModel)]="password" name="password" id="password"></ion-input>
        </ion-item>

        <ion-grid>
          <ion-row>
            <ion-col>
              <ion-button type="submit" expand="block" [disabled]="spinner" #btnSubmit>
                <ion-spinner name="circles" *ngIf="spinner"></ion-spinner> &nbsp;
                <ion-text color="light">{{!spinner ? 'Iniciar Sesión': 'Cargando'}}</ion-text>
              </ion-button>
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col size="6">
              <ion-button color="tertiary" expand="block" (click)="invitadoLogin(btnSubmit)">Invitado</ion-button>
            </ion-col>

            <ion-col size="6">
              <ion-button color="danger" expand="block">Admin</ion-button>
            </ion-col>
          </ion-row>
        </ion-grid>
      </form>
    </ion-card-content>
  </ion-card>
</ion-content>


