<ion-content color="light" fullscreen>
  <div class="welcome">
    <div class="welcome__text">
      <h3>Bienvenido a Tábla Didáctica</h3>
    </div>
  </div>

<ion-fab vertical="bottom" horizontal="end" slot="fixed">
  <ion-fab-button color="secondary">
    <ion-icon name="language-sharp"></ion-icon>
  </ion-fab-button>
  <ion-fab-list side="top">
    <ion-fab-button color="light" (click)="presionado($event)">
      <img src="assets/img/eeuu.png" width="30" height="30" alt="English">
    </ion-fab-button>
    <ion-fab-button color="light">
      <img src="assets/img/portugal.png" width="30" height="30" alt="English">
    </ion-fab-button>
    <ion-fab-button color="light">
      <img src="assets/img/espaniol.png" width="30" height="30" alt="English">
    </ion-fab-button>
  </ion-fab-list>
</ion-fab>

<ion-fab vertical="bottom" horizontal="start" slot="fixed">
  <ion-fab-button color="tertiary">
    <ion-icon name="language-sharp"></ion-icon>
  </ion-fab-button>
  <ion-fab-list side="top">
    <ion-fab-button color="light" (click)="presionado($event)">
      <img src="assets/img/eeuu.png" width="30" height="30" alt="English">
    </ion-fab-button>
    <ion-fab-button color="light">
      <img src="assets/img/portugal.png" width="30" height="30" alt="English">
    </ion-fab-button>
    <ion-fab-button color="light">
      <img src="assets/img/espaniol.png" width="30" height="30" alt="English">
    </ion-fab-button>
  </ion-fab-list>
</ion-fab>

</ion-content>

