.entidad {
  height: 94.5%;
  display: grid;
  margin: 0;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(5, 1fr);
}

.entidad__item {
  text-align: center;
  padding: 10px;
}

.entidad__item:hover {
  opacity: 0.8;
}

.entidad__img {
  margin: 0 auto;
  height: 100px;
  width: 100px;
}

