<app-header></app-header>

<ion-content>
  <div class="animales" expand="block">
    <ion-button class="animales__item">
      <img src="" alt="">
    </ion-button>
  
    <ion-button class="animales__item">
      <img src="" alt="">
    </ion-button>
    <ion-button class="animales__item">
      <img src="" alt="">
    </ion-button>
    <ion-button class="animales__item">
      <img src="" alt="">
    </ion-button>
    <ion-button class="animales__item">
      <img src="" alt="">
    </ion-button>
    </div>
</ion-content>

<app-buttons></app-buttons>
