.animales {
  display: flex;
  flex-direction: column;
  height: 95vh;
}

.animales__item {
  display: flex;
  justify-content: center;
  align-items: center;
  height:100%;
  width: 100%;
  border: 1px solid black;
}
