<app-header></app-header>

<ion-content>
  <div class="colores" expand="block">
    <ion-button class="colores__item">
      <img src="" alt="">
    </ion-button>
    <ion-button class="colores__item">
      <img src="" alt="">
    </ion-button>
    <ion-button class="colores__item">
      <img src="" alt="">
    </ion-button>
    <ion-button class="colores__item">
      <img src="" alt="">
    </ion-button>
    <ion-button class="colores__item">
      <img src="" alt="">
    </ion-button>
    </div>
</ion-content>

<app-buttons></app-buttons>
